
@model List<Entities.DTOs.ProductDetailDto>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table">
    <tr>
        <th>No</th>
        <th>Ürün Adı</th>
        <th>Kategori</th>
        <th>Ürün Adedi</th>
        <th>Ürün Fiyatı</th>
        <th>Ürün Tarihi</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.CategoryName</td>
            <td>@item.Stock</td>
            <td>@item.Price</td>
            <td>@item.OrderDate</td>
        </tr>
    }
</table>

<form method="get" action="@Url.Action("Add", "Product")">
    <button type="submit" id="addProductBtn" class="btn btn-primary">Ekle</button>
</form>
